[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ATAforecasting"]
	path = ATAforecasting
	url = https://github.com/alsabtay/ataforecasting
[submodule "fable.ata"]
	path = fable.ata
	url = https://github.com/alsabtay/fable.ata
